@{
    ViewData["Title"] = "Home";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb visually-hidden">
        <li class="breadcrumb-item">Cadastro</li>
        <li class="breadcrumb-item active" aria-current="page">ViewData["Title"]</li>
    </ol>
</nav>

<div class="text-center">
    <h1 class="display-4">Cadastro</h1>
    <p></p>
</div>
